@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>A mi perfil <a href="https://www.linkedin.com/in/nicolas-andres-migliarino-ferro-3a8a6713b/">LinkedIn</a></p>
    <img src="/img/hola.jpg" alt="Alternate Text" />
</div>
